@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('./OpenSans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'RobotoMono';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('./RobotoMono/RobotoMono-Regular.ttf');
}

@font-face {
    font-family: 'RobotoSerif';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('./RobotoSerif/RobotoSerif-Regular.ttf');
}