body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
	margin: auto;
	padding: 2rem;
}

label {
	user-select: none;
}

nav {
	display: flex;
}

nav div {
	border: 1px solid silver;
	padding: 5px;
	margin: 5px;
	user-select: none;
}

nav div.active {
	background-color: silver;
}

main {
	margin-top: 10px;
}

th {
	text-align: left;
}